<h1>Create New Course</h1>


  <%= form_for @course do |f| %>
    <%= f.text_field :name, placeholder: "Course Name", required: true %> Hours: 
    <%= f.number_field :hours, placeholder: 0, :class => 'text_field', :step => 10, required: true %>
    <%= f.submit 'Create Course' %>
    <% end %>
