/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background-color: rgb(191, 191, 200);
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 auto;
  height: 100%;
}

body {
  margin: 0 auto;
  min-height: 100%;
}

h1, .container h2, .container h3 {
  background-color: rgb(155, 155, 181);
  width: 100%;
  text-align: center;
  font-weight: normal;
    margin: 0;
    padding: 2px;
}
p {
  text-align: center;
}
.container h2 {
  background-color: rgb(175, 175, 199);
}

.container h3 {
  background-color: rgb(193, 193, 214);
}

.desc {
  text-align: center;
  margin: 1px;
}

#hoverlogout {
  position: absolute;
  top: 10px;
  right: 10px;
}
.titlebar {
  background-color: rgb(155, 155, 181) !important;
}
#hoverhome {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.logo {
  font-family: 'Cinzel Decorative', cursive;
  margin: 0;
  font-weight: bold;
}
form {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

.slider:hover {
  color: red;
}

ul li {
  display: inline;
}

form input {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 3px;
  margin: 0;
  border: none;
  background-color: transparent;
}
.datefield {
  width: 80px;
}
.emailfield {
  width: 180px;
}
.salary {
  width: 60px !important;
}
.namefield {
  width: 80px;
}

#student_cohort_id {
  width: 170px;
}

form input:hover {
  background-color: rgb(138, 202, 255);
}

form:nth-child(even) {
  background-color: #eeeeee;
  border-bottom: 1px solid gray;
  padding: 0 5px;
}

form:nth-child(odd) {
  background-color: #FFF;
  border-bottom: 1px solid gray;
  padding: 0 5px;
}

button {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 3px;
  margin: 0;
  border: none;
  background-color: transparent;
}

button:hover {
  background-color: rgb(255, 204, 91);
}

input[type="number"] {
  width: 40px;
}

select:hover {
  background-color: rgb(138, 202, 255);
}

input[type="submit"]:hover {
  background-color: rgb(255, 204, 91);
}

select option:checked:after {
  background-color: rgb(255, 204, 91);
}

select {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 3px;
  margin: 0;
  border: none;
  background-color: transparent;
}

.sidebar {
  height: 100%;
  width: 150px;
  background-color: rgb(137, 143, 181);
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 60px;
  z-index: 5;
}

header {
  background-color: rgb(137, 143, 181);
  width: 100%;
  height: 60px;
  top: 0;
  position: absolute;
  margin-top: 0;
  text-align: center;
  left: 80px;
}

.sidebar ul li {
  display: block;
}

.container {
  margin-left: 150px;
  margin-top: 60px;
  height: 100%;
}

.frontpage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.frontcontents {
  text-align: center;
}
.frontcontents form {
  background-color: transparent;
  border: none;
}
.frontcontents form input {
  border-radius: 3px;
  padding: 3px 8px;
  background-color: white;
  border: 1px solid gray;
}
.optionbar {
  width: 140px;
  position: fixed;
  background-color: rgb(137, 143, 181);
  left: 0px;
  padding: 5px;
  transition-property: left;
  transition-duration: 0.6s;
  z-index: 3;
  border-top-right-radius: 5px;
  text-align: right;
}
.searchbar {
  width: 300px;
  position: fixed;
  background-color: rgb(137, 143, 181);
  left: 150px;
  padding: 5px;
  transition-property: left;
  transition-duration: 0.6s;
  z-index: 3;
  border-top-right-radius: 5px;
  z-index: 4;
  text-align: right;
}
.creator {
  width: 300px;
  height: 10px;
  position: fixed;
  background-color: rgb(137, 143, 181);
  left: 150px;
  padding: 5px;
  transition-property: left;
  transition-duration: 0.6s;
  z-index: 3;
  border-top-right-radius: 5px;
  z-index: 1;
}
.creator form, .searchbar form {
  background: transparent;
  border: none;
}
.creator form input, .searchbar form input {
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
}
.creator form select {
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
}
#newStudentBar {
  top: 190px;
}

#newCourseBar {
  top: 155px;
}

#newCohortBar {
  top: 175px;
}

.hidden {
  visibility: hidden;
}

.reveal {
  left: 150px;
}
#staffNav {
  top: 110px;
}
#studentsNav {
  top: 170px;
}

#cohortsNav {
  top: 150px;
}

#coursesNav {
  top: 130px;
}

.searchoptions {
  position: fixed;
  background-color: rgb(137, 143, 181);
  left: 150px;
  padding: 5px;
  top: 170px;
  width: 140px;
  height: 10px;
  overflow: hidden;
  transition-property: height;
  transition-duration: 0.6s;
  z-index: 2;
  border-bottom-right-radius: 5px;
}

#studentsSearchBar {
  top: 170px;
}

.searchoptionsreveal {
  height: auto;
}
.searchbarreveal {
  left: 300px;
}
.creatorreveal {
  height: auto;
}
#studentsSearchByNameBar {
  top: 250px;
}
