/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background-color: rgb(231, 215, 129);
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 auto;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  min-height: 100%;
}
#corner {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  top: 60px;
  left: 150px;
  padding: 0;
  background-color: rgb(7, 13, 52);
  z-index: 0;
}
#innercorner {
  position: absolute;
width: 100%;
height: 100%;
margin: 0;
  border-top-left-radius: 8px;
  background-color: rgb(0, 0, 91);
  z-index: 1;
}
h1, .container h2, .container h3 {
  background-color: rgb(0, 0, 91);
  width: 100%;
  text-align: center;
  font-weight: normal;
    margin: 0;
    padding: 2px;
    z-index: 3;
}
h1 {
  border-top-left-radius: 8px;
  color: rgb(223, 210, 91);
    text-shadow: 0 .5px .5px black;
}
p {
  text-align: center;
}
.container h2 {
  background-color: rgba(30, 65, 134, 0.8);
}

.container h3 {
  background-color: rgba(57, 91, 158, 0.4);
}
.titlespans {
  margin: 0;
  max-width: 90%;
text-align: left;
  margin: 0px 90px;
  margin-right: 250px;
}
.desc {
  text-align: center;
  margin: 1px;
}
.flash li {
  background-color: yellow;
}
#hoverlogout {
  position: absolute;
  top: 10px;
  right: 10px;
    color: rgb(231, 215, 129);
      text-shadow: 0 .5px .5px black;
}
.titlebar {
  background-color: rgb(0, 0, 91) !important;
}
#hoverhome {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
    color: rgb(231, 215, 129);
      text-shadow: 0 .5px .5px black;
}
#hoverhome i {
  color: rgb(231, 215, 129);
    text-shadow: 0 .5px .5px black;

}

#hoverlogout i {
  color: rgb(231, 215, 129);
    text-shadow: 0 .5px .5px black;
}
.logo {
  font-family: 'Cinzel Decorative', cursive;
  margin: 0;
  font-weight: bold;
}
form {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

.slider:hover {
  color: red;
}

ul li {
  display: inline;
}

form input {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 3px;
  margin: 0;
  border: none;
  background-color: transparent;
}
.datefield {
  width: 80px;
}
.emailfield {
  width: 180px;
}
.salary {
  width: 60px !important;
}
.namefield {
  width: 80px;
}

#student_cohort_id {
  width: 170px;
}

form input:hover {
  background-color: rgb(138, 202, 255);
}

form:nth-child(even) {
  background-color: #eeeeee;
  border-bottom: 1px solid gray;
  padding: 0 5px;
}

form:nth-child(odd) {
  background-color: #FFF;
  border-bottom: 1px solid gray;
  padding: 0 5px;
}

button {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 3px;
  margin: 0;
  border: none;
  background-color: transparent;
}

button:hover {
  background-color: white;
}

input[type="number"] {
  width: 40px;
}

select:hover {
  background-color: rgb(138, 202, 255);
}

input[type="submit"]:hover {
  background-color: white;
}

select option:checked:after {
  background-color: white;
}

select {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 3px;
  margin: 0;
  border: none;
  background-color: transparent;
}

.sidebar {
  height: 100%;
  width: 150px;
  background-color: rgb(7, 13, 52);
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 60px;
  z-index: 5;

}
.sidebar ul {
  position: fixed;
  top: 150px;
  width: 130px;
  background-color: transparent;
  margin: 0 20px;
  list-style-position: inside;
  padding: 0;
  color: black;
}
.sidebar li {
  background-color: rgb(255, 220, 33);
  border-top-left-radius: 8px;
  border-bottom: 1px solid rgb(147, 123, 0);
  margin: 5px 0;
  max-height: 30px;
  font-size: 20px;
  text-align: right;
  padding: 3px 15px;
}
header {
  background-color: rgb(7, 13, 52);
  color: rgb(231, 215, 129);
  text-shadow: 0 .5px .5px black;
  width: 100%;
  height: 60px;
  top: 0;
  position: absolute;
  margin-top: 0;
  text-align: center;
  left: 80px;
}

.sidebar ul li {
  display: block;
}

.container {
  margin-left: 150px;
  margin-top: 60px;
  height: 100%;
}

.frontpage {
  text-align: center;
  height: 100%;
}

.frontpage form {
  background-color: transparent;
  border: none;
}
.frontpage form input {
  border-radius: 3px;
  padding: 3px 8px;
  background-color: white;
  border: 1px solid gray;
}
.optionbar {
  background-color: rgb(255, 220, 33);
  border-top-right-radius: 8px;
  border-bottom: 1px solid rgb(147, 123, 0);
  margin: 5px 0;
  max-height: 30px;
  font-size: 20px;
  width: 180px;
  position: fixed;
  left: -50px;
  padding: 3px;
  padding-right: 10px;
  transition-property: left;
  transition-duration: 0.6s;
  z-index: 3;
  text-align: right;
}
.searchbar {
  width: 300px;
  background-color: rgb(255, 220, 33);
  border-top-right-radius: 8px;
  border-bottom: 1px solid rgb(147, 123, 0);
  position: fixed;
  left: 150px;
  padding: 5px;
  transition-property: left;
  transition-duration: 0.6s;
  z-index: 3;
  z-index: 4;
  text-align: right;
}
.creator {
  width: 300px;
  height: 10px;
  position: fixed;
  background-color: rgb(255, 220, 33);
  border-top-right-radius: 8px;
  border-bottom: 1px solid rgb(147, 123, 0);
  left: 150px;
  padding: 5px;
  transition-property: left;
  transition-duration: 0.6s;
  z-index: 3;
}
.creator form, .searchbar form {
  background: transparent;
  border: none;
}
.creator form input, .searchbar form input {
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
}
.creator form select {
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
}
#newStudentBar {
  top: 324px;
}

#newCourseBar {
  top: 256px;
}

#newCohortBar {
  top: 292px;
}

.hidden {
  visibility: hidden;
}

.reveal {
  left: 150px;
}
#staffNav {
  top: 186px;
}
#studentsNav {
  top: 294px;
}

#cohortsNav {
  top: 258px;
}

#coursesNav {
  top: 222px;
}

.searchoptions {
  position: fixed;
  background-color: rgb(255, 220, 33);
  border-top-right-radius: 8px;
  border-bottom: 1px solid rgb(147, 123, 0);
  left: 150px;
  padding: 5px;
  top: 170px;
  width: 140px;
  height: 10px;
  overflow: hidden;
  transition-property: height;
  transition-duration: 0.6s;
  z-index: 2;
  border-bottom-right-radius: 5px;
}

#studentsSearchBar {
  top: 324px;
}

.searchoptionsreveal {
  height: auto;
}
.searchbarreveal {
  left: 300px;
}
.creatorreveal {
  height: auto;
}
#studentsSearchByNameBar {
  top: 324px;
}
