/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background-color: rgb(231, 215, 129);
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 auto;
  height: 100%;
  overflow-x: hidden;
  width: calc(100% + 76px);
}

body {
  margin: 0 auto;
  min-height: 100%;
}
#corner {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  top: 60px;
  left: 150px;
  padding: 0;
  background-color: rgb(7, 13, 52);
  z-index: 0;
}
#innercorner {
  position: absolute;
width: 100%;
height: 100%;
margin: 0;
  border-top-left-radius: 8px;
  background-color: rgb(0, 0, 91);
  z-index: 1;
  box-shadow: inset 1px 1px .5px rgba(0, 0, 0, 0.65);
}
h1, .container h2, .container h3 {
  background-color: rgb(0, 0, 91);
  width: 100%;
  text-align: center;
  font-weight: normal;
    margin: 0;
    padding: 2px;
    z-index: 3;
}
h1 {
  border-top-left-radius: 8px;
  color: white;
    text-shadow: 0 .5px .5px black;
        box-shadow: inset 1px 1px .5px rgba(0, 0, 0, 0.65);
}

p {
  text-align: center;
}
.container h2 {
  background-color: rgba(30, 65, 134, 0.8);
}

.container h3 {
  background-color: rgba(57, 91, 158, 0.4);
}
.frontpage form:nth-child(odd):hover {
  background-color: transparent !important;
  z-index: 10;
}
.frontpage form span:hover {
  background-color: transparent !important;
    z-index: 10;
}
.frontpage form:nth-child(even):hover {
  background-color: transparent !important;
    z-index: 10;
}
.container form input:hover {
    background-color: rgb(255, 220, 33);
      z-index: 10;
}
.logoutb {
  background-color: rgb(255, 220, 33) !important;
  border-top-right-radius: 8px;
  left: 48%;
  border-bottom: 1px solid rgb(147, 123, 0);
  margin: 5px 0;
  max-height: 30px;
  font-size: 20px;
  width: 180px;
  position: absolute;
  padding: 3px;
  padding-right: 10px;
  transition-property: left;
  transition-duration: 0.6s;
  z-index: 3;
  text-align: center;
    box-shadow: 0 1px 1px rgb(7, 13, 52);
  border-radius: 3px;
  padding: 3px 8px;
  z-index: 10;
}
.logoutb:hover {
  color: black;
      text-shadow: 0 0 5px white;
  background-image: linear-gradient(to top, rgb(221, 73, 0), rgb(255, 220, 33));
}
.privileges {
  margin-top: 100px;
}
.titlespans {
  margin: 0;
  max-width: 90%;
text-align: left;
  margin: 0px 90px;
  margin-right: 250px;
}
.desc {
  text-align: center;
  margin: 1px;
}
.flash li {
  background-color: yellow;
}
#hoverlogout {
  position: absolute;
  top: 0px;
  right: 20px;
      text-shadow: 0 .5px .5px black;
      z-index: 10;
}
.titlebar {
  background-color: rgb(0, 0, 91) !important;
}
#hoverhome {
  position: fixed;
  top: 0px;
  left: 40px;
  z-index: 10;
}
#hoverhome i {
  color: white;
    text-shadow: 0 .5px .5px black;
}
#hoverhome i:hover {
  color: rgb(221, 73, 0);
  text-shadow: 0 0 20px white;
}
#hoverlogout i {
  color: white;
    text-shadow: 0 .5px .5px black;
}
#hoverlogout i:hover {
  color: rgb(221, 73, 0);
    text-shadow: 0 0 20px white;
}
.logo {
  font-family: 'Cinzel Decorative', cursive;
  margin: 0;
  font-weight: bold;
}
form {
  text-align: center;
  font-size: 12px;
  max-width: calc(100vw - 160px);
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(221, 73, 0);
}

.slider:hover {
  color: rgb(221, 73, 0);
}

ul li {
  display: inline;
}

form input {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 3px;
  margin: 0;
  border: none;
  background-color: transparent;
}
.datefield {
  width: 80px;
}
.emailfield {
  width: 160px;
}
.salary {
  width: 60px !important;
}
.namefield {
  width: 70px;
}

#student_cohort_id {
  width: 140px;
}
.formgrid {
  display: grid;
  grid-template-columns: 5% 10% 10% 15% 10% 5% 10% 10% 10% 10%;
}
form input:hover {
  background-color: rgb(240, 232, 189);
}
form:hover {
  background-color: rgb(221, 73, 0);
}
form:nth-child(even) {
  background-color: rgba(192, 198, 210, 0.7);
  border-bottom: 1px solid gray;
  padding: 0 0px;
}
form:nth-child(even):hover, form:nth-child(odd):hover {
  background-color: rgb(255, 220, 33);
}
.formbox {
  /* border-radius: 50px;
  overflow: hidden;
  margin: 5px 10px;
  box-shadow: 1px 1px 1px rgb(7, 13, 52); */
}
form:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid gray;
  padding: 0 0px;
}

button {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 3px;
  margin: 0;
  border: none;
  background-color: transparent;
}

button:hover {
  background-color: rgb(221, 73, 0);
}

input[type="number"] {
  width: 40px;
}

select:hover {
  background-color: rgb(240, 232, 189);
}

input[type="submit"]:hover {
  background-color: white;
}

select option:checked:after {
  background-color: white;
}

select {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 3px;
  margin: 0;
  border: none;
  background-color: transparent;
}

.sidebar {
  height: 100%;
  width: 150px;
  background-color: rgb(7, 13, 52);
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 60px;
  z-index: 5;

}
.sidebar ul {
  position: fixed;
  top: 150px;
  width: 133px;
  background-color: transparent;
  margin: 0 20px;
  list-style-position: inside;
  padding: 0;
  color: black;
}
.sidebar li {
  background-color: rgb(255, 220, 33);
  border-top-left-radius: 8px;

  border-bottom: 1px solid rgb(147, 123, 0);
  margin: 5px 0;
  max-height: 30px;
  font-size: 20px;
  text-align: right;
  padding: 3px 15px;
}
#javascriptDisabled {
  position: fixed;
  background-color: rgb(255, 220, 33);
  border-top-left-radius: 8px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 1px solid rgb(147, 123, 0);
  top: 350px;
  left: 20px;
  max-width: 123px;
  padding: 5px;
  min-height: 30px;
  z-index: 5;
}
.shadow {
    box-shadow: 1px 1px 1px rgb(7, 13, 52);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.sidebar li a:hover {
  color: black;
      text-shadow: 0 0 5px white;
}
.sidebar li:hover {
  color: black;
      text-shadow: 0 0 5px white;
  background-image: linear-gradient(to right, rgb(221, 73, 0), rgb(255, 220, 33));
}
header {
  background-color: rgb(7, 13, 52);
  color: white;
  text-shadow: 0 .5px .5px black;
  width: 100%;
  height: 60px;
  top: 0;
  position: absolute;
  margin-top: 0;
  text-align: center;
  left: 80px;
  z-index: 2;
}

.sidebar ul li {
  display: block;
}

.container {
  margin-left: 150px;
  margin-top: 60px;
    height: 100vh;
    box-shadow: inset 1px 1px .5px rgba(0, 0, 0, 0.65);
}

.frontpage {
  text-align: center;
  height: 100%;
}

.frontpage form {
  background-color: transparent;
  border: none;
    z-index: 10;
}
.frontpage form input {
  border-radius: 3px;
  padding: 3px 8px;
  background-color: white;
  border: 1px solid gray;
  z-index: 10;
}
.optionbar {
  background-color: rgb(255, 220, 33);
  border-top-right-radius: 8px;
  border-bottom: 1px solid rgb(147, 123, 0);
  margin: 5px 0;
  max-height: 30px;
  font-size: 20px;
  width: 180px;
  position: fixed;
  left: -50px;
  padding: 3px;
  padding-right: 10px;
  transition-property: left;
  transition-duration: 0.6s;
  z-index: 3;
  text-align: right;
    box-shadow: 0 1px 1px rgb(7, 13, 52);
}
.searchbar {
  width: 300px;
  background-color: rgb(255, 220, 33);
  border-top-right-radius: 8px;
  border-bottom: 1px solid rgb(147, 123, 0);
  position: fixed;
  left: 150px;
  padding: 5px;
  transition-property: left;
  transition-duration: 0.6s;
  z-index: 3;
  z-index: 4;
  text-align: right;
      box-shadow: 0 1px 1px rgb(7, 13, 52);
}
.creator {
  width: 300px;
  height: 10px;
  position: fixed;
  background-color: rgb(255, 220, 33);
  border-top-right-radius: 8px;
  border-bottom: 1px solid rgb(147, 123, 0);
  left: 150px;
  padding: 5px;
  transition-property: left;
  transition-duration: 0.6s;
  z-index: 3;
      box-shadow: 0 1px 1px rgb(7, 13, 52);
}
.creator form, .searchbar form, #loginbar form {
  background: transparent;
  border: none;
}
.creator form input, .searchbar form input, #loginbar form input {
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
}
.creator form select {
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
}
#newStudentBar {
  top: 324px;
}

#newCourseBar {
  top: 256px;
}

#newCohortBar {
  top: 292px;
}

.hidden {
  visibility: hidden;
}

.reveal {
  left: 150px !important;
}
#staffNav {
  top: 186px;
}
#studentsNav {
  top: 294px;
}

#cohortsNav {
  top: 258px;
}

#coursesNav {
  top: 222px;
}
#loginbar {
  top: 186px;
  width: auto;
  overflow: hidden;
  height: 29px;
  padding: 1px 5px;
}
.loginbar {
    left: -300px;
}
#loginbar form {
  margin: 0;
  display: inline;
}
#loginbar form input {
margin: 0;
}
#loginbar form input[type="submit"]:hover {
background-color: rgb(221, 73, 0);
}
.searchoptions {
  position: fixed;
  background-color: rgb(255, 220, 33);
  border-bottom-right-radius: 8px;
  border-bottom: 1px solid rgb(147, 123, 0);
  left: 150px;
  padding: 5px;
  top: 170px;
  width: 183px;
  height: 10px;
  overflow: hidden;
  transition-property: height;
  transition-duration: 0.6s;
  z-index: 3;
  border-bottom-right-radius: 5px;
        box-shadow: 0 1px 1px rgb(7, 13, 52);
}

#studentsSearchBar {
  top: 326px;
}

.searchoptionsreveal {
  height: auto;
}
.searchbarreveal {
  left: 300px;
}
.creatorreveal {
  height: auto;
}
#studentsSearchByNameBar {
  top: 324px;
}
.ui-tooltip {
  background-color: rgb(231, 215, 129) !important;
  border-radius: 0 !important;
  border-bottom-right-radius: 8px !important;
  border: none !important;
  box-shadow: none !important;
      box-shadow: 1px 1px 1px rgb(7, 13, 52) !important;
          font-family: 'Roboto Condensed', sans-serif !important;
}
.bluebox {
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgb(7, 13, 52);
        box-shadow: 1px 1px 1px rgb(7, 13, 52);
        border-radius: 8px;
        max-width: 60%;
        padding: 5px;
        color: white;
        font-size: 16px;
}
.bluebox a {
  color: white;
}
.bluebox button {
  color: white;
}
.bluebox h2 {
  background-color: transparent;
  width: auto;
}
.bluebox form input {
  border: none;
  border-bottom: 1px dotted white;
  background-color: rgb(7, 13, 52);
  color: white;
  border-radius: 3px;
  margin: 2px;
    font-size: 16px !important;
}
.bluebox form input:hover {
  color: black;
}
.bluebox form{
  background-color: transparent !important;
  border: none !important;
    color: white !important;
    font-size: 16px !important;
}
.bluebox form input[type="number"] {
  width: 60px;
}

.bluebox form select, .bluebox form select option {
  background-color: rgb(7, 13, 52);
  border-radius: 3px;
  margin: 2px;
      font-size: 16px !important;
      border: none;
      border-bottom: 1px dotted white;
      color: white;
}
.bluebox form select:hover, .bluebox form select option:hover, .bluebox form button:hover {
  background-color: rgb(255, 220, 33);
  color: black;
}
.bluebox form button {
      font-size: 16px !important;
      border: none;
      border-bottom: 1px dotted white;
  background-color: rgb(7, 13, 52);
      color: white;
}
.bluebox .emailfield {
  width: 250px;
}
@media only screen and (max-device-width: 1260px) {
    form > * {
            border-bottom: dotted 1px black;
    }
    html {
      overflow-x: scroll;
    }
}
