// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.studentGrid {
  display: grid;
  grid-template-columns: repeat(8, auto);
  width: 100%;
}
.students{
    width: 100%;
font-size: 12px;
}
