// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userGrid {
  display: grid;
  grid-template-columns: repeat(7, auto);
  width: 90vw;
}
form input {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 3px;
  border-radius: 1px;
  margin: 2px;
  border: .5px solid black;
}
button {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 3px;
  border-radius: 1px;
  margin: 2px;
  border: .5px solid black;
}
input[type="number"] {
  width:40px;
}
select {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 3px;
  border-radius: 1px;
  margin: 2px;
  border: .5px solid black;
  background-color: white;
}
