<header>

  <h2 class='logo'>The <%= @schoolname %> School of Art and Technology</h2>
  Administrative Panel
  <% if logged_in? %>
    You are logged in as
    <%= current_user.full_name %>. Your role is:
    <% if current_user.admin_priv == 0 %>
      Instructor
      <% elsif current_user.admin_priv == 1 %>
        Administrator
        <% elsif current_user.admin_priv == 2 %>
          President
        <% end %>
      <% end %>
    </header>

    <% if logged_in? %>
      <div id="hoverlogout">
        <%= link_to logout_path, method: :delete do %>
        <h2>
          <i class="fas fa-sign-out-alt"></i>
        </h2>
      <% end %>
    </div>
  <% end %>

  <div id="hoverhome">
    <%= link_to root_path do %>
    <h2>
      <i class="fas fa-home"></i>
    </h2>
  <% end %>
</div>
