<div class="sidebar"><br>
  <ul>
    <% if logged_in? %>
      <li><%= link_to "Log out", logout_path, method: :delete %></li>
      <li class="slider" onclick='slideoutStaff()'>Staff</li>
      <li class="slider" onclick='slideoutCourses()'>Courses</li>
      <li class="slider" onclick='slideoutCohorts()'>Cohorts</li>
      <li class="slider" onclick='slideoutStudents()'>Students</li>
    <% else %>
      <li><%= link_to "Register", register_path %></li>
      <li><%= link_to "Log in", login_path %></li>
    <% end %>
  </ul>
  <ul class='flash'>
<% flash.each do |key, message| %>
<% message.each do |m| %>
<li>  <%= m %></li>
<% end %>
<% end %>
</ul>
</div>
<div id="corner"><div id="innercorner">&nbsp</div></div>
